*{
  padding: 0%;
  margin: 0;
  font-family: sans-serif;
}
html{
  direction: rtl;
}
section{
  background: url(assets/001.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
}
.container{
  width: 650px;
  background-color: #332a224e;
  padding: 30px 25px;
  backdrop-filter:blur(10px);
  border-radius: 10px;
  border: 1px solid #d7d7d74e;
  margin-right: 15%;
}
.top-sc{
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #d7d7d74e;
  margin-bottom: 40px;
  text-align: center;
}
.top-sc select{
  width: 250px;
  border-radius: 5px;
  outline: none;
  padding: 2px 10px;
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
  background-color: #a54;
}
.top-sc h3{
  font-size: 26px;
  color: #fff;
}
.top-sc .data h4{
  font-size: 26px;
  color: #fff;
}
.top-sc .data {
  width: 250px;
}


section .prayer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  background: #c0583a75;
  margin-bottom: 15px;
  color: #fff;
  border-radius: 5px;
  border: solid 1px #d7d7d74e;
  font-size: 24px;
}